.header {
  &__container {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(170, 170, 170);
    .brand {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
    }
    .ham {
      cursor: pointer;
    }
    .brand__logo {
      height: 2.25rem;
    }
    .menu__options {
      display: flex;
      gap: 1rem;
      margin-left: 1rem;
      .option,
      li {
        list-style: none;
        &.active,
        &:focus,
        &:hover {
          cursor: pointer;
          color: aliceblue;
        }
      }
    }

    .secondary__options {
      display: flex;
      gap: 1rem;
    }
  }
}
