.wrapper {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  &__inner {
    max-width: 1440px;
    margin-inline: auto;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1rem;
    p {
      text-align: right;
      color: rgb(146, 146, 146);
      &:hover {
        color: aliceblue;
        cursor: pointer;
      }
    }
  }

  .rail__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-items: stretch;
  }
}
